/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

hr {
  max-width: 50px;
  border-color: #f05f40;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

hr.dark {
  border-color: #222;
}

a {
  color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #eb3812;
}

#about a {
  color: rgba(52, 52, 52, .7);
}

#about a:hover,
#about a:focus {
  color: rgb(52, 52, 52);
}

h2 a {
  color: rgb(255,255,255);
}

h2 a:focus,
h2 a:hover {
  color: #f05f40;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #f05f40;
}

.bg-secondary {
  background-color: #f4f4f4
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255,255,255,.7);
}

.text-faded-dark {
  color: rgba(0,0,0,.7);
}

section {
  padding: 100px 0;
}

section#blog, section#compliance, section#copyright {
  padding: 20px 0;
}

section#products {
  padding: 50px 0;
}

section#notfound, section#blog, section#products {
  min-height: 100%;
}

section#post {
  padding-bottom: 2em;
}

.border-legal {
  border-left: 1px solid rgba(255,255,255,.7);
}

.copyright-text {
  font-size: 10px;
}

.copyright-text a {
  color: rgba(200,255,200,0.8);
  padding: 0 10px;
}

.con-details {
  padding-right: 20px;
  border-right: 1px dashed rgb(152,152,152);
}

.con-details p {
  font-size: 14px;
}

.con-methods {
  padding: 20px 40px;
}

.con-info {
  padding-bottom: 20px;
}

.con-info span {
  display: inline-block;
  padding-left: 0.5em;
}

aside {
  padding: 50px 0;
}

article#post {
  padding-top: 2em;
  padding-bottom: 8em;
}

article#product {
  padding: 5em 0;
  min-height: 100%;
}

article#post img {
  width: 100%;
}

a .product-card-inner:hover {
  opacity: 0.5;
}

.product-card {
  padding: 10px;
}

.product-card-inner {
  background-color: #fff;
  box-shadow: 1pt 1px 4px #c6c6c6;
  padding: 0;
  color: #494949;
}

.product-image {
  background-position: center;
  background-size: cover;
  display: block;
  height: 250px;
}

.product-text {
  padding: 5px;
}

.product-text h5 {
  font-weight: bold;
}

.product-text span.product-price-sale {
  text-decoration: line-through;
  font-style: italic;
  font-weight: normal;
  padding-left: 0.5em;
}

.post-font, .post-block h2 {
  font-weight: 100;
}

.post-block a {
  color: #444;
}

.post-block a:hover, .post-block a:focus {
  color: #999;
}

.post-row {
  padding: 25px 0;
  height: 250px;
  border-bottom: 1px solid #eee;
}

.post-author {
  color: rgb(150,150,150);
  font-size: 10px;
  padding: 0 0 20px 10px;
}

.post-image {
  background-size: cover;
  height: 100%;
  opacity: 0.7;
}

article#post .post-content img, .post-image-single {
  padding: 15px;
  border: 1px solid rgb(202,202,202);
  background-color: rgb(248,248,248);
}
.post-image-single img {
  width: 100%;
}

a .post-image:hover {
  opacity: 0.9;
}

.post-image-header {
  background-size: cover;
  height: 20%;
  opacity: 0.8;
}

.post-block {
  height: 100%;
  padding: 15px 25px 25px 50px;
}

.post-nav {
  padding: 20px 20px;
}
.post-nav .btn {
  border: 1px solid #f05f40;
}

.no-padding {
  padding: 0;
}

.default {
  border-color: rgba(34,34,34,.05);
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

#open {
  display: none;
}

.navbar-default .navbar-header .navbar-brand-container {
  align-items: center;
  display: flex;
}

.navbar-default .navbar-header .navbar-brand-container img {
  padding: 0 10px;
  display: block;
  max-height: 40px;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  color: #222;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #f05f40!important;
  background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

@media(min-width:768px) {
  .navbar-default {
    border-color: rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.25);
  }

  .navbar-default .navbar-header .navbar-brand {
    color: #fff;
  }

  .navbar-default .nav > li>a,
  .navbar-default .nav>li>a:focus {
    color: #fff;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus,
  .navbar-default .nav > li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
    text-shadow: 0px 0px 2px #222;
  }

  .navbar-default.affix {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #f05f40;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #222;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #f05f40;
  }
}

header {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  color: #fff;
  min-height: auto;
  position: relative;
  text-align: center;
}

header::before {
  background-color: rgba(50,50,50,.4);
  display: block;
  height: 100%;
  width: 100%;
  z-index: 0;
  content: "";
  position: absolute;
}


header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255,255,255,.9);
}

@media(min-width:768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

@media(min-width:992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}

.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(240,95,64,.9);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media(min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #f05f40;
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #f05f40;
  color: #fff;
  background-color: #f05f40;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: #fff;
  background-color: #ee4b28;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary .badge {
  color: #f05f40;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #222;
}

#map {
  height: 300px;
  overflow: visible;
  position: relative;
}
