{{- define "content" }}
{{ partial "hero.html" (dict "image" .Site.Data.header.image "title" .Section) }}

<section id="blog">
  <div class="container">
    {{ if not (len .Pages) }}
    <h2 class="text-center post-font text-faded-dark" style="padding-top: 4em"><i>Nothing here, yet!</i></h2>
    {{ else }}
    {{/* (index .Site.Paginate) */}}
    {{- $paginator := .Paginate .Pages }}
    {{- range .Paginator.Pages }}
    {{ .Render "summary" }}
    {{ end -}}
    <div class="row text-center">
      {{ template "_internal/pagination.html" . }}
    </div>
    {{ end }}
  </div>
</section>
{{- end }}
