{{- define "content" -}}
<section id="post" class="bg-primary post-font">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{ .Page.Title }}</h2>
        <hr class="light">
        <p class="text-faded">{{ partial "author" . }} | {{ .Date.Format "January 2, 2006" }}</p>
      </div>
    </div>
  </div>
</section>
<article id="post" class="post-font">
  <div class="container">
    {{ if isset .Params "preview" }}
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 post-image-single">
        <img src="{{ .Params.preview }}"/>
      </div>
    </div>
    <hr>
    {{ end }}
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 post-content">
        <p>{{ partial "process.html" .Content }}</p>
      </div>
    </div>
  </div>
</article>


<div class="container post-nav">
  <div class="row">
    <div class="col-xs-6 text-center">
      {{ with .NextInSection -}}
      <a class="btn btn-md" href="{{ .Permalink }}"><i class="fa fa-arrow-left"></i> {{ truncate 16 .Title }}</a>
      {{- end }}
    </div>
    <div class="col-xs-6 text-center">
      {{ with .PrevInSection -}}
      <a class="btn btn-md" href="{{ .Permalink }}">{{ truncate 16 .Title }} <i class="fa fa-arrow-right"></i></a>
      {{- end }}
    </div>
  </div>
</div>
{{- end -}}
