<div class="row post-row post-font">
  <a href="{{ .Permalink }}">
    <div class="col-sm-4 hidden-xs post-image"
         style="{{ if isset .Params "preview" }}background-image: url({{ .Params.preview }}){{ end }}">
    </div>
  </a>
  <div class="col-sm-8 post-block">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-author">{{ partial "author" . }} | {{ .Date.Format "January 2, 2006" }}</div>
    {{ if isset .Params "description" }}
    <p>{{ .Params.description }}</p>
    {{ end }}
  </div>
</div>
