<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {{- block "title" . -}}
      {{- if .IsPage -}}
        {{ .Title }} - {{ .Site.Title }}
      {{- else if .IsSection -}}
        {{ humanize .Section }} - {{ .Site.Title }}
      {{- else -}}
        {{ .Site.Title }}{{ end }}
      {{- end -}}
    </title>
    {{ partial "head.html" . -}}
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "content" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
