{{- define "content" }}
<header style="min-height: 30%;">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="superheader">{{.Section }}</h1>
    </div>
  </div>
</header>


{{- end }}
