{{- define "content" -}}
<section class="bg-primary" id="about" style="padding-bottom: 2em;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{ .Page.Title }}</h2>
        <hr class="light">
        <p class="text-faded"></p>
      </div>
    </div>
  </div>
</section>
<section id="services" style="padding-top: 2em;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="post-content">{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>

{{- end -}}
