<section class="bg-primary" id="notfound">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Missed the Apex!</h2>
        <hr class="light">
        <i class="fa fa-car fa-3x"></i>
        <p class="text-faded">{{ .Site.Params.notfound.message}}</p>
        <a href="/" class="btn btn-default btn-xl">Go back to the pits!</a>
      </div>
    </div>
  </div>
</section>
