<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{{ .Site.Params.about.headline }}</h2>
        {{ if and .Site.Params.about.headline .Site.Params.about.description }}
        <hr class="light">
        {{ end }}
        <p class="text-faded">{{ .Site.Params.about.description | markdownify }}</p>
        <a href="/blog" class="btn btn-default btn-xl">{{ .Site.Params.about.buttonText }}</a>
      </div>
    </div>
  </div>
</section>
