<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>{{ .Site.Params.aside.headline }}</h2>
      {{ if and .Site.Params.aside.button.link .Site.Params.aside.button.text }}
      <a href="{{ .Site.Params.aside.button.link }}" class="btn btn-default btn-xl">{{ .Site.Params.aside.button.text }}</a>
      {{ end }}
    </div>
  </div>
</aside>
