{{- if len (where .Site.RegularPages "Type" "compliance") -}}
<section id="compliance" class="bg-dark light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center copyright-text">
        {{- range $idx,$ := (where .Site.RegularPages "Type" "compliance") -}}
        <a {{ if not (eq $idx 0) }}class="border-legal"{{ end }} href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- end -}}
