<section id="contact" class="bg-dark light">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h2 class="section-heading">Contact</h2>
        <hr class="dark">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 con-details">
        <h3>Contact Details</h3>
        <p class="text-faded post-font">
          Have an idea, suggestion, issue with a product, or just want to get in touch?<br/>
          Feel free to hit us up via any of the following methods.
        </p>
      </div>
      <div class="col-sm-6 con-methods">
        {{ range $.Site.Data.contacts }}
        <div class="con-info post-font">
          <i class="fa {{ .icon }}"></i>
          {{- if .url -}}<a href="{{ .url | absURL }}">{{- end -}}
          <span>{{ .value | default "None, yet!" }}</span>
          {{- if .url -}}</a>{{- end -}}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
