<section id="copyright" class="bg-dark light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="copyright-text text-faded">Copyright © {{ .Site.Params.name }} {{ now.Format "2006" }}</p>
      </div>
    </div>
  </div>
</section>
