{{ partial "compliance.html" . }}
{{ partial "copyright.html" . }}

<script src="{{ "js/creative.js" | absURL }}"></script>
{{ if .Site.Params.location }}
<!-- <script src="//maps.googleapis.com/maps/api/js?key={{ .Site.Params.location.maps_api_key }}&v=3.exp"></script> -->
<!-- <script src="{{ "js/gmaps.init.js" | absURL }}"></script> -->
{{ end }}
{{ template "_internal/google_analytics.html" . }}
