<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ .Site.Params.name }}">
<meta name="description" content="{{ .Site.Params.description }}">
{{- if .Site.Params.facebook.domain }}
<meta name="facebook-domain-verification" content="{{ .Site.Params.facebook.domain }}" />
{{ end -}}
<title>{{ .Site.Title }}</title>
<link rel="shortcut icon" href="{{ .Site.Params.favicon | absURL }}">
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ "font-awesome/css/font-awesome.min.css" | absURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/creative.css" | absURL }}" type="text/css">
{{ template "_internal/opengraph.html" . -}}
{{- if .Site.Params.shopify.enabled -}}
{{- partial "shopify/cart.html" . -}}
{{- end -}}
