<header style="background-image:url({{ .image | replaceRE "^\\/*" `${0}` }});{{ if not (and .subtitle .button) }}min-height:35%;{{ end }}">
    <div class="header-content">
        <div class="header-content-inner">
          <h1 class="superheader">{{ .title  }}</h1>
          {{- if .subtitle }}
          <hr><p>{{ .subtitle }}</p>
          {{ end -}}
          {{- if .button }}<a href="{{ .buttonlink }}" class="btn btn-primary btn-xl page-scroll">{{ .button }}</a>{{ end -}}
        </div>
    </div>
</header>
