<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" onclick="toggleNav();">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand-container">
        <img src="{{ .Site.Data.logo.image | absURL }}"/>
        <a class="navbar-brand" href="/">{{ .Site.Params.navigation.brand }}</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="collapse" style="display: none;visibility: hidden;">
      <ul class="nav navbar-nav navbar-right text-center">
        <li>
          <a class="page-scroll" href="{{ if not (.IsHome) }}/{{ end }}#about">{{ .Site.Params.navigation.links.about }}</a>
        </li>
        <li>
          <a class="page-scroll" href="/blog">{{ .Site.Params.navigation.links.blog }}</a>
        </li>
        <li>
          <a class="page-scroll" href="/products">{{ .Site.Params.navigation.links.products }}</a>
        </li>
        {{- if and .Site.Params.location .Site.Params.navigation.links.location }}
        <li>
          <a class="page-scroll" href="#location">{{ .Site.Params.navigation.links.location }}</a>
        </li>
        {{ end -}}
        <li>
          <a class="page-scroll" href="{{ if not (.IsHome)}}/{{ end }}#contact">{{ .Site.Params.navigation.links.contact }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
