{{- define "content" }}
{{ partial "hero.html" (dict "image" .Site.Data.header.image "title" .Section) }}
<section id="products" class="{{ if .Site.Params.shopify.enabled }}bg-secondary{{ else }}bg-primary{{ end }}">
  <div class="container">
    {{ if (and .Site.Params.shopify.enabled (len .Pages))}}
    <div class="row">
      {{ range .Pages }}
      <a href="{{ .Params.productID }}"><div class="product-card col-lg-3 col-lg-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="col-md-12 product-card-inner">
            {{- with .Params.images }}{{ range first 1 . }}
            <div class="product-image" style="background-image: url({{ . | absURL }});">
            </div>
            {{ end -}}
            {{- end -}}
            <div class="row">
              <div class="product-text text-center">
                <h5>{{ .Title | upper }}</h5>
              </div>
            </div>
                {{- $sale := .Params.comparePrice -}}
                <div class="{{- if $sale -}}bg-primary{{- else -}}bg-dark{{- end }} product-price product-text text-center">
                <h5>${{ .Params.price }}
                  {{- if $sale -}}
                  <span class="product-price-sale">${{ $sale }}</span>
                  {{- end -}}
                  </h5>
              </div>
          </div>
        </div></a>
        {{ end }}
    </div>
    {{ else }}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Coming soon!</h2>
        <hr class="dark">
        <a href="/blog" class="btn btn-primary btn-xl">Check the Blog!</a>
      </div>
      {{ end }}
    </div>
</section>


{{- end }}
